@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600&display=swap');
@import '../../fonts.css';

.footer {
  display: flex;
  flex-direction: column;
  background-color: #343935;
  padding: 80px 120px 60px 120px;
}

.footer_upper {
  display: flex;
  align-items: flex-end;
}

.footer_upper_links {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 4rem;
}

.footer_upper_links_itemscontainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
}

.footer_upper_links_infocontainer {
  display: flex;
  justify-content: space-between;
}

.footer_upper_links_item_tag h3 {
  font-family: 'MADE-Mirage';
  font-style: normal;
  font-weight: 200;
  font-size: 30px;
  line-height: 3rem;
  color: #ffffff;
  letter-spacing: 0.04em;
  margin: 10px 0;
}

.footer_upper_links_item_tag p {
  font-family: 'Red Hat Display', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 2px;
  letter-spacing: 0.09em;
  color: #c5a56f;
  margin: 0;
}

.footer_upper_links_item p {
  font-family: 'Red Hat Display', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.06em;
  color: #c5a56f;
  margin: 0;
}

.footer_upper_links_item h3 {
  font-family: 'MADE-Mirage';
  font-style: normal;
  font-weight: 100;
  font-size: 40px;
  line-height: 50px;
  color: #ffffff;
  margin: 0;
  letter-spacing: 0.05em;
  opacity: 0.8;
}

.footer_upper_logo {
  width: 80px;
  height: 175px;
  display: flex;
  padding-left: 70px;
}

.footer_lower {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4rem;
  border-top: 1px solid #646464;
}

.footer_lower_left p,
.footer_lower_right a {
  font-family: 'Red Hat Display', sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 14px;
  line-height: 15px;
  color: #fff;
  opacity: 0.5;
  text-decoration: none;
}

.footer_lower_right a {
  font-weight: 400;
}

@media only screen and (max-width: 479px) {
  .footer {
    padding: 3rem 1.2rem;
  }

  .footer_upper {
    flex-direction: column;
    align-items: start;
  }

  .footer_upper_links {
    width: 100%;
    margin-bottom: 2rem;
    gap: 0;
  }

  .footer_upper_links_itemscontainer {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 2rem;
  }

  .footer_upper_links_infocontainer {
    flex-wrap: wrap;
  }

  .footer_upper_links_item_tag {
    flex-wrap: wrap;
  }

  .footer_upper_links_item h3 {
    font-size: 44px;
    line-height: 45px;
  }

  .footer_upper_links_item p {
    font-size: 22px;
    line-height: 30px;
  }

  .footer_upper_links_item_tag p {
    font-size: 20px;
    line-height: 27px;
  }

  .footer_upper_links_item_tag h3 {
    font-size: 33px;
    line-height: 45px;
    margin: 5px;
  }

  .footer_upper_logo {    
    align-items: start;
    padding: 0;
  }

  .footer_upper_logo img {
    max-width: 150%;
    max-height: 150%;
    width: auto;
    height: auto;
  }

  .footer_lower {
    flex-direction: column;
    margin-top: 2rem;
    align-items: start;
  }

  .footer_lower_left p,
  .footer_lower_right a {
    font-size: 20px;
    line-height: 26px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  .footer {
    padding: 2rem;
  }

  .footer_upper_links_itemscontainer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
  }

  .footer_upper_links_infocontainer {
    flex-direction: column;
  }

  .footer_upper_logo {    
    display: inline-flex;
    justify-content: space-around;
    align-items: flex-end;
    padding: 0;
  }

  .footer_upper_logo img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
  }

  .footer_upper_links_item h3 {
    font-size: 24px;
    line-height: 36px;
  }

  .footer_upper_links_item p {
    font-size: 16px;
    line-height: 20px;
  }

  .footer_upper_links_item_tag p {
    font-size: 14px;
    line-height: 22px;
  }

  .footer_upper_links_item_tag h3 {
    font-size: 23px;
  }

  .footer_lower {
    flex-direction: column;
    align-items: start;
  }

}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .footer {
    padding: 4rem 2rem;
  }

  .footer_upper_links_itemscontainer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .footer_upper_links_infocontainer {
    display: inline;
  }

  .footer_upper_logo {
    width: 80px;
    height: 145px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding: 0;
  }

  .footer_upper_links_item p {
    font-size: 17px;
    line-height: 24px;
  }

  .footer_upper_links_item h3 {
    font-size: 40px;
    line-height: 50px;
  }

  .footer_upper_links_item_tag p {
    font-size: 18px;
    line-height: 22px;
  }

  .footer_upper_links_item_tag h3 {
    font-size: 35px;
  }

  .footer_lower_left p,
  .footer_lower_right a {
    font-size: 15px;
    line-height: 15px;
  }
}



