@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600&display=swap');
@import '../../fonts.css';

.collection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 4rem;
}

.collection_heading p {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.25em;
  color: #c5a56f;
  margin: 0;
  text-transform: uppercase;
}

.collection_heading h3 {
  font-family: "MADE-Mirage";
  font-style: normal;
  font-weight: 100;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  color: #343935;
  margin: 0;
}

.collection_content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  place-items: center;
  gap: 2rem;
  margin-top: 6rem;
}

.collection_content_box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  width: 280px;
  height: 362px;
  border-style: solid;
  border-width: 1px;
  border-image: linear-gradient(180deg, #c5a56f 0%, rgba(197, 165, 111, 0) 100%)
    1;
}

.collection_content_box:last-child {
  height: 240px;
  margin-top: -7.5rem;
}

.collection_content_box img {
  display: flex;
  align-self: center;
  width: 230px;
  height: 210px;
  object-fit: fill;
  margin-top: -3.5rem;
}

.collection_content_box .next {
  margin: auto;
}

.collection_content_box h3 {
  font-family: "MADE-Mirage";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 41px;
  color: #c5a56f;
  align-self: flex-start;
}

.collection_content_box h2 {
  font-family: "MADE-Mirage";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 41px;
  color: #343935;
  margin: 0;
  margin-top: 1rem;
}

.collection_content_box p {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #343935;
  opacity: 0.75;
}

.collection_content_box a {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #c5a56f;
}

.collection_featured {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 1rem;
}

.collection_featured h1 {
  font-family: "MADE-Mirage";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 61px;
  color: #343935;
}

.collection_featured img {
  display: flex;
  align-self: center;
  width: 100px;
  object-fit: fill;
}

.collection_featured img:nth-child(4) {
  width: 180px;
}
